.hidden {
  display: none;
}


body {
  font-family: helvetica;
}

#manage-foods {
  margin: 20px;
}

#manage-exercises {
  margin: 20px;
}

#manage-foods-header {
  margin: 10px;
}

#manage-exercises-header {
  margin: 10 px;
}

#add-food-form {
  margin: 10px;
  width: 250px;
  font-size: 12px;
}


#add-exercise-form {
  margin: 10px;
  width: 250px;
  font-size: 12px;
}

#create-new-food {
  float: left;
}

#create-new-exercise {
  float: left;
}

#add-new {
  padding-top: 10px;
}

#date-header {
  display: inline-flex;
}

#create-add-fe {
  margin: 10px;
}

#totals {
  margin: 10px;
}

.fe-input {
  width: 100%;
  height: 20px;
}

.layout {
  display: inline-table;
  padding-right: 45px;
}

.add-fe-button {
  margin-top: 6px;
  float: right;
  width: 100px;
  border-radius: 15px;
  border-color: black;
  border-width: 1px;
  background-color: lightblue;
  font-size: 12px;
}

.add-fe-button:hover {
  background-color: skyblue;
}

.error {
  float: right;
  color: red;
}

.fe-table-div {
  margin: 40px 20px 20px 20px;
  padding-top: 1px;
  font-size: 12px;
}

.filter {
  margin: 10px;
  width: 100%;
}

.filter input {
  width: 250px;
  height: 20px;
}

.fe-table {
  margin: 10px;
  border-collapse: collapse;
  width: 283px;
}

.fe-table th {
  background-color: lightgray;
  border: 1px solid black;
}

.fe-table td {
  padding: 3px;
}

.food-cell {
  border: 1px solid black;
}

.food-name-cell {
  width: 160px;
}

.food-calorie-cell {
  text-align: right;
  width: 90px;
}

.breakfast-cell {
  border: 1px solid black;
}

.breakfast-name-cell {
  width: 160px;
}

.breakfast-calorie-cell {
  text-align: right;
  width: 90px;
}

.dinner-cell {
  border: 1px solid black;
}

.dinner-name-cell {
  width: 160px;
}

.dinner-calorie-cell {
  text-align: right;
  width: 90px;
}

.lunche-cell {
  border: 1px solid black;
}

.lunche-name-cell {
  width: 160px;
}

.lunche-calorie-cell {
  text-align: right;
  width: 90px;
}

.snack-cell {
  border: 1px solid black;
}

.snack-name-cell {
  width: 160px;
}

.snack-calorie-cell {
  text-align: right;
  width: 90px;
}


.delete-button {
  border: none;
  border-radius: 25px;
  background-color: red;
  font-size: 12px;
  color: white;
}

.delete-button:hover {
  color: crimson;
}

.exercise-cell {
  border: 1px solid black;
}

.exercise-name-cell {
  width: 160px;
}

.exercise-calorie-cell {
  text-align: right;
  width: 90px;
}


p {
  margin-bottom: 0px;
}
